<h1>Lista de Tarefas</h1>

@if (tarefas.length > 0) {

  @for (tarefa of tarefas; track tarefa.id) {

    <div
      [ngClass]="tarefa.prioridade"
      [class.concluida]="tarefa.concluida"
    >

      <h3>{{ tarefa.titulo }}</h3>

      <p>Responsável: {{ tarefa.responsavel }}</p>

      <p>Prioridade: {{ tarefa.prioridade }}</p>

      <p>
        Situação:
        {{ tarefa.concluida ? 'Concluída' : 'Pendente' }}
      </p>

      <button (click)="alterarSituacao(tarefa)">
        {{ tarefa.concluida ? 'Marcar como pendente' : 'Concluir tarefa' }}
      </button>

      <hr>

    </div>

  } @empty {

    <p>Não existem tarefas cadastradas.</p>

  }

  <h2>Resumo</h2>

  <p>Total de tarefas: {{ tarefas.length }}</p>
  <p>Tarefas concluídas: {{ tarefasConcluidas() }}</p>
  <p>Tarefas pendentes: {{ tarefasPendentes() }}</p>

} @else {

  <p>Não existem tarefas cadastradas.</p>

}