li {
  padding: 10px;
  margin: 5px;
  list-style: none;
}

.fundo-par {
  background-color: lightblue;
}

.fundo-impar {
  background-color: lightgray;
}

.primeiro {
  font-weight: bold;
}

.ultimo {
  border: 3px solid black;
}