<h2>Classificação dos produtos</h2>

<ul>
  <li *ngFor="let produto of produtos">

    <strong>{{ produto.nome }}</strong>

    - Quantidade: {{ produto.quantidade }}

    <span
      [ngClass]="{
        'vermelho': produto.quantidade === 0,
        'amarelo': produto.quantidade >= 1 && produto.quantidade <= 5,
        'verde': produto.quantidade > 5
      }"
    >

      <span *ngIf="produto.quantidade === 0">
        - Sem estoque
      </span>

      <span *ngIf="produto.quantidade >= 1 && produto.quantidade <= 5">
        - Estoque baixo
      </span>

      <span *ngIf="produto.quantidade > 5">
        - Estoque disponível
      </span>

    </span>

  </li>
</ul>
